.App {
   text-align: center;
   background-image:url(https://i.pinimg.com/originals/ae/b9/63/aeb9633fa1eaa22c6cc152dffc5b282c.gif) ;
   background-repeat: no-repeat;
padding: 2em;

  
   background-size: cover;
  
   background-position: center;
 background-attachment: fixed;
 
}
